@import './global.scss';

.filter-modal {
  position: absolute;
  top: 40px;
  left: 0;
  width: 270px;
  background-color: $color-white;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .filter-field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-size: 14px;
      font-weight: 500;
      color: $color-text-secondary;
    }

    input, select {
      padding: 12px;
      border: 1px solid rgba(33, 63, 125, 0.2);
      border-radius: 8px;
      font-size: 14px;
      color: $color-text-primary;
      outline: none;
      transition: border-color 0.2s;

      &::placeholder {
        color: rgba(84, 95, 125, 0.7);
      }

      &:focus {
        border-color: $color-primary;
      }
    }

    .select-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      select {
        width: 100%;
        appearance: none;
        background: transparent;
      }

      .chevron {
        position: absolute;
        right: 12px;
        pointer-events: none;
        width: 12px;
        height: 12px;
        fill: $color-text-secondary;
      }
    }
    
    .date-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        
        input[type="date"] {
            width: 100%;
            cursor: pointer;
            
            &::-webkit-calendar-picker-indicator {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
  }

  .filter-actions {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-top: 10px;

    button {
      padding: 12px 30px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s;
      flex: 1;

      &.reset-btn {
        background-color: transparent;
        border: 1px solid $color-text-secondary;
        color: $color-text-primary;

        &:hover {
          background-color: rgba(84, 95, 125, 0.05);
        }
      }

      &.filter-btn {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        color: $color-white;

        &:hover {
          background-color: darken($color-primary, 5%);
        }
      }
    }
  }
}
